<div class="row" ng-controller="ChatCtrl">
	<form class="form-horizontal" name="contactForm" style="height:100%;">
    <div class="row">
      <div class="col-xs-12">
        <div ng-repeat="message in messages track by $index">
          <p>{{message}}</p>
        </div>
      </div>
    </div>
    <div style="position: fixed; bottom: 0;">
      <input type="text" name="name" ng-model="name" />
      <textarea ng-model="chatText"></textarea>
      <button ng-click="Methods.SendMessage(name, chatText)" type="button">Send</button>
    </div>
</form>
</div>